<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Wrapped</title>
    <h1>THIS THE INDEX PAGE TYPE SHI</h1>
</head>
<body>
<p>Test Spotify Information Retrieval<a href = '/test'>here</a>!</p>
<div id="main"></div>
<script>
	function getArtistInfo(arist_name) {
		fetch(`api/${arist_name}/`, {
			method: 'GET',
		})
			.then(response => response.json())
			.then(data => {
				document.getElementById("main").innerHTML = data;
			})
			.catch(error => {
				console.error("Error fetching artist info ", error);
			});
	}

	function llama(query) {
		fetch(`api/${arist_name}/`, {
			method: 'GET',
		})
			.then(response => response.json())
			.then(data => {
				document.getElementById("main").innerHTML = data;
			})
			.catch(error => {
				console.error("Error fetching artist info ", error);
			});
	}
</script>
</body>
</html>
