{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Your Account Page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/accountpage.css' %}">
    <script src="{% static 'Spotify_Wrapper/hamburger.js' %}"></script>
</head>
<body>
<header>
    <a class="CosmicTunes" href="/library">Cosmic Tunes</a>
    <div class="hamburger-menu">
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</header>

<nav class="menu" id="menu">
    <ul>
        <li><a href="/library">Library</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/accountpage">Account</a></li>
        <li><a href="/login">Logout</a></li>
    </ul>
</nav>
</header>
<div class="Cosmic-Song-Count" style="user-select: none;"> Your Account</div>

    <p class="user">Username: {{ username }}</p>
    <p class="Spotify">{{ display_name }}</p>
    <p class="numwrap">Number of Wraps created: {{ wrap_count }}</p>
    {% if most_recent_wrap_date %}
        <p class="info-text">Last Wrap Creation Date: {{ most_recent_wrap_date|date:"m-d-Y" }}</p>
    {% else %}
        <p class="info-text">Last Wrap Creation Date: No Wraps created :(</p>
    {% endif %}
<img class="bg" src="{% static 'Spotify_Wrapper/image/background.png' %}">
<img class="sp" src="{% static 'Spotify_Wrapper/image/Spotify.png' %}">
<nav class="menu" id="menu">
    <ul>
        <li><a href="/library">Library</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/accountpage">Account</a></li>
        <li><a href="/login">Logout</a></li>
    </ul>
</nav>
    <div class="account-buttons">
        <form method="POST" action="/delete_account/">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete your account? This will delete all the data and Wraps associated with the account')">Delete Account</button>
        </form>

        <form method="POST" action="/login/">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>

        <form method="POST" action="/spotify_logout/">
            {% csrf_token %}
            <button type="submit" class="btn btn-info" onclick="return confirm('This will open log you ou of the current spotify account in another tab. Depending on your browser you may have to exit out of the tab manually!')">Relink Spotify</button>
        </form>
    </div>
{#    <div class="account-buttons">#}
{#        <a href="/delete_account" class="">Delete Account</a>#}
{#        <a href="/login" class="">Logout</a>#}
{#        <a href="//spotify_logout" class="">Link Another Spotify Account</a>#}
{#        <form method="POST" action="/delete_account">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-danger">Delete Account</button>#}
{#        </form>#}
{##}
{#        <form method="POST" action="/logout">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-warning">Logout</button>#}
{#        </form>#}
{##}
{#        <form method="POST" action="/spotify_logout">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-info">Relink Account</button>#}
{#        </form>#}
{#    </div>#}
</body>
</html>
