{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/ConstellationArtists2.css' %}">
        <script src="{% static 'Spotify_Wrapper/hamburger.js' %}"></script>

</head>
<body>
    <header>
        <a class="CosmicTunes" href="/library"> Cosmic Tunes </a>
        <div class="hamburger-menu">
    <div class="hamburger" id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
        </div>
    </header>
    <nav class="menu" id="menu">
      <ul>
        <li><a href="/library">Library</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/accountpage">Account</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </nav>
  </div>
  <script src="script.js"></script>
    <a class="Genre-Breakdown2" href="/wrapper2/"> Back</a>
    <a class="Genre-Breakdown3" href="/ConstellationArtists/"> Return to plant view</a>
    <div class="Cosmic-Song-Count" style="user-select: none;"> Constellation of Artists </div>
    <a class="Genre-Breakdown" href="/StellarHits"> Next</a>
    <a class="mainplanet" href="/ConstellationArtists/">
        <img src="{% static "Spotify_Wrapper/image/CA-BluePlanet2.png" %}" >
    </a>
    <a href="/summary2">
            <img class="two" src="{% static "Spotify_Wrapper/image/MARSright.png" %}">
    </a>
    <a href="/StellarHits2/">
        <img class="back" src="{% static "Spotify_Wrapper/image/CA-GreenPlanet.png" %}">
    </a>
</body>
</html>
