{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/contact.css'%}">
    <script src="{% static 'Spotify_Wrapper/hamburger.js' %}"></script>

</head>
<body>
    <header>
        <a class="CosmicTunes" href="/library"> Cosmic Tunes </a>
 <div class="hamburger-menu">
    <div class="hamburger" id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
        </div>
    </header>

    <nav class="menu" id="menu">
      <ul>
        <li><a href="/library">Libray</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/accountpage">Account</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </nav>
  </div>
    <div class="Cosmic-Song-Count" style="user-select: none;"> Contact the team </div>
    <div class="photos">
        <img src="{% static "Spotify_Wrapper/image/Joshua.png" %}">
        <img src="{% static "Spotify_Wrapper/image/Vihaan.png" %}">
        <img src="{% static "Spotify_Wrapper/image/Rom.png" %}">
        <img src="{% static "Spotify_Wrapper/image/jc.png" %}">
        <img src="{% static "Spotify_Wrapper/image/Jeshal.png" %}">
    </div>
    <p class="josh">Joshua Derival<br>jderival@gatech.edu</p>
    <p class="Rom">Rohan Malla<br>rmalla6@gatech.edu</p>
    <p class="Vih">Vihaan Nagarkar<br>vnagarkar3@gatech.edu</p>
    <p class="je">Jeshal Patel<br>jpatel485%gatech.edu</p>
    <p class="jc">Jayce Walzer<br>jwalzer3@gatech.edu</p>
    <img class="one" src="{% static "Spotify_Wrapper/image/CS.png" %}">
    <img class="two" src="{% static "Spotify_Wrapper/image/CS2.png" %}">


</body>
</html>