{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/contact.css'%}">
    <script src="{% static 'Spotify_Wrapper/hamburger.js' %}"></script>

</head>
<body>
    <header>
        <a class="CosmicTunes" href="/library"> Cosmic Tunes </a>
 <div class="hamburger-menu">
    <div class="hamburger" id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
        </div>
    </header>

    <nav class="menu" id="menu">
      <ul>
        <li><a href="/library">Library</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/accountpage">Account</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </nav>
  </div>
    <div class="Cosmic-Song-Count" style="user-select: none;"> Contact The Team </div>
    <div class="photos">
        <img src="{% static "Spotify_Wrapper/image/Joshua.png" %}">
        <img src="{% static "Spotify_Wrapper/image/Vihaan.png" %}">
        <img src="{% static "Spotify_Wrapper/image/Rom.png" %}">
        <img src="{% static "Spotify_Wrapper/image/jc.png" %}">
        <img src="{% static "Spotify_Wrapper/image/Jeshal.png" %}">
    </div>
    <p class="josh" style="text-decoration: none;">Joshua Derival<a style="text-decoration: none; color: #faf6e7;" href="mailto:jderival@gatech.edu"><br>jderival@gatech.edu</a></p>
    <p class="Rom" style="text-decoration: none;">Rohan Malla<a style="text-decoration: none; color: #faf6e7;" href="mailto:rmalla6@gatech.edu"><br>rmalla6@gatech.edu</a></p>
    <p class="Vih" style="text-decoration: none;">Vihaan Nagarkar<a style="text-decoration: none; color: #faf6e7;" href="mailto:vnagarkar3@gatech.edu"><br>vnagarkar3@gatech.edu</a></p>
    <p class="je" style="text-decoration: none;">Jeshal Patel<a style="text-decoration: none; color: #faf6e7;" href="mailto:jpatel485@gatech.edu"><br>jpatel485@gatech.edu</a></p>
    <p class="jc" style="text-decoration: none;">Jayce Walzer<a style="text-decoration: none; color: #faf6e7;" href="mailto:jwalzer3@gatech.edu"><br>jwalzer3@gatech.edu</a></p>
        <p class="description">
            Welcome to the "Contact the Developers" page! This project was crafted with a passion for showcasing your Spotify listening journey in a fun and interactive way.
            We're always looking to improve, and your feedback is invaluable to us. If you have any thoughts, suggestions, or just want to share your Wrapped experience, please don’t hesitate to reach out. We’d love to hear from you!
        </p>

    <img class="one" src="{% static "Spotify_Wrapper/image/CS.png" %}">
    <img class="two" src="{% static "Spotify_Wrapper/image/CS2.png" %}">


</body>
</html>