{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/newwrapper.css' %}">
    <script src="{% static 'Spotify_Wrapper/hamburger.js' %}"></script>

</head>
<body>
<header>
    <a class="CosmicTunes" href="/library"> Cosmic Tunes </a>
    <div class="hamburger-menu">
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</header>

<nav class="menu" id="menu">
    <ul>
        <li><a href="/library">Library</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/accountpage">Account</a></li>
        <li><a href="/login">Logout</a></li>

    </ul>
</nav>
</div>
<div class="Cosmic-Song-Count" style="user-select: none;">Choose a Term!</div>
<a href="#" onclick="return makeWrapped('short_term')">
    <img class="s" src="{% static "Spotify_Wrapper/planets/GN-YellowPlanet.png" %}"
         alt="Centered Image">
</a>
<a href="#" onclick="return makeWrapped('medium_term')">
    <img class="m" src="{% static "Spotify_Wrapper/planets/CSC-PurplePlanet.png" %}"
         alt="Centered Image">
</a>
<a href="#" onclick="return makeWrapped('long_term')">
    <img class="l" src="{% static "Spotify_Wrapper/planets/CA-BluePlanet.png" %}"
         alt="Centered Image">
</a>

<div class="st">Short Term Wrap (~4 Weeks)</div>
<div class="ttt">Medium Term Wrap (~6 Months)</div>
<div class="lt">Long Term Wrap (~1 Year)</div>

<script>
	async function makeWrapped(term) {
		try {
			const response = await fetch(`/api/make-wrapped/${term}/5/`, {method: 'POST'});
			if (!response.ok) {
				console.error('Error creating wrapped: ', response.status);
			}

			const data = await response.json();
			window.location.href = `/wrapper/${data.dt}`;
		} catch (e) {
			console.error('Error creating wrapped: ', e);
		}
	}
</script>
</body>
</html>