{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/welcome.css'%}">
    <script src="{% static 'Spotify_Wrapper/hamburger.js' %}"></script>
</head>
<body>
    <header>
        <a class="CosmicTunes" href=""> Cosmic Tunes </a>
    </header>
    <div class="welcom"> Welcome to Cosmic Tunes</div>
    <div class="wt">Embark on a stellar journey through the universe of music with Cosmic Tunes, your interstellar Spotify companion</div>
    <a class="login" href="/login"> Login </a>
    <a class="create" href="/signup"> Create</a>
    <div class="explore"> Explore Your Musical Galaxy</div>
    <div class="text">
          <li>Cosmic Song Count<br>Discover the vast expanse of your musical library</li>
        <li>Genre Nebula's<br>Visualize your listening habits with our genre breakdown</li>
        <li>Stellar Hits<br>Orbit around your top songs and relive your favorite moments</li>
        <li>Constellation<br>of Artists: Explore the stars that shine brightest in your musical sky</li>
    </div>
    <a class="login2" href="/login"> Login </a>
    <a class="create2" href="/signup"> Create</a>
</body>
<img class="ws1" src="{% static "Spotify_Wrapper/image/ws1.png" %}" alt="Centered Image">
<img class="ws2" src="{% static "Spotify_Wrapper/image/ws2.png" %}" alt="Centered Image">
</html>