{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/wrapper2.css' %}">
</head>
<body>
    <header>
        <a class="CosmicTunes" href="/library"> Cosmic Tunes </a>
    </header>
    <div class="Cosmic-Song-Count" style="user-select: none;"> Cosmic Song Count </div>
    <a class="mainplanet" href="/GenreNebulas">
        <img src="{% static "Spotify_Wrapper/image/CSC-PurplePlanet.png" %}" alt="Centered Image">
    </a>
</body>
</html>
