{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Spotify_Wrapper/wrapper.css' %}">
</head>
<body>
    <header>
        <a class="CosmicTunes" href="/library"> Cosmic Tunes </a>
    </header>
     <div class="Cosmic-Song-Count" style="user-select: none;"> Cosmic Song Count </div>
    <a class="mainplanet" href="/wrapper2">
        <img src="{% static "Spotify_Wrapper/image/CSC-PurplePlanet.png" %}" alt="Centered Image">
    </a>
    <div class="secondPlanet">
        <a class="Genre-Breakdown" href="/GenreNebulas">  Genre Nebula's</a>
        <a class="TopArtists" href="/ConstellationArtists/"> Constellation of Artists</a>
        <a href="/ConstellationArtists">
            <img class="one" src="{% static "Spotify_Wrapper/image/CSC-BluePlanet.png" %}">
        </a>
        <a href="/GenreNebulas">
            <img class="two" src="{% static "Spotify_Wrapper/image/CSC-YellowPlanet.png" %}">
        </a>
    </div>
</body>
</html>