<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cosmic-conquest">
    <div class="rectangle-4">
    </div>
    <div class="smooth-light">
    </div>
    <div class="component-1">
        <div class="rectangle-3">
        </div>
    </div>
    <div class="rectangle-42">
    </div>
    <div class="rectangle-5">
    </div>
    <div class="moving-star">
        <div class="rectangle-32">
        </div>
    </div>
    <div class="moving-star2">
        <div class="rectangle-32">
        </div>
    </div>
    <div class="cosmic-tunes"> Cosmic Tunes </div><img class="purple-planet" src="purple-planet0.png" />
    <div class="cosmic-song-count"> Cosmic Song Count </div>
</div>
</body>
</html>