body {
    background: linear-gradient(120.56deg, rgba(29, 41, 72, 1.00) 0%, rgba(20, 29, 51, 1.00) 24.819809198379517%, rgba(15, 22, 40, 1.00) 38.076335191726685%, rgba(5, 10, 22, 1.00) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header {
    background-color: transparent;
    padding: 2.5vh 0;
    text-align: center;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

.CosmicTunes {
  color: #faf6e7;
  font-family: 'ChakraPetch-Regular', sans-serif;
  position: absolute;
  font-size: 2vw;
  text-decoration: none;
  left: 4vw;
  z-index: 9999;

}
.CosmicTunes:hover {
    color: #fff; /* Change the text color for contrast */
    background-color: #4313ca; /* Add a background color */
    padding: .5vw .5vw; /* Add some padding for better appearance */
    border-radius: 25px; /* Optional: round the edges */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.Cosmic-Song-Count {
    color: #faf6e7;
    text-align: center;
    font-family: 'ChakraPetch-Regular', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    position: relative;
    margin-bottom: -10vh;
    margin-top: 10vh;
    z-index: 5000;
}

.hamburger-menu {
  font-family: 'ChakraPetch-Regular', sans-serif;
  top: 1.5vh;
  position: absolute;
    z-index: 9999;

}

.hamburger {
    z-index: 9999;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4vh;
  height: 3vh;
  margin: 2vh;
}
.hamburger .line {
      z-index: 9999;

  background-color: #FFFFFF;
  height: .5vh;
  width: 2vw;
  border-radius: .2vw;
  transition: 0.3s ease;
}

.menu {
      z-index: 9999;

  display: none;
  position: absolute;
  border-radius: .5vw;
  top: 7vh;
  left: 1vw;
  width: 15vw;
  background-color: #ffffffcc;
}

.menu ul {
      z-index: 9999;

  list-style: none;
  margin: 0vw;
  padding: .5vh;
}

.menu li {
      z-index: 9999;

  padding: 1vh;
  border-bottom: 1px solid #ddd;

}

.menu li a {
      z-index: 9999;
  font-family: 'ChakraPetch-Regular', sans-serif;

  font-size: 2vw;
  text-decoration: none;
  color: black;
  display: block;
}

.menu li:hover {
      z-index: 9999;

    border-radius: .5vw;
  color: #FFFFFF;
  background-color: #334AA8;
}
.menu li a:hover {
      color: white;
}


.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  gap: 2.5vw;

}

.photos img {
  width: 15vw; /* Adjust the size of the images */
  height: auto;
    border-radius: 2.5vw;
  user-select: none;

}
.photo p {
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #faf6e7; /* Text color */
    margin-top: 1vh; /* Space between the image and the name */
}
.josh {
    position: absolute;
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #faf6e7;
    left: 8vw;
    font-size: 1.5vw;
    text-align: center;
}
.Rom {
    position: absolute;
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #faf6e7;
    left: 44vw;
    font-size: 1.5vw;
        text-align: center;

}
.Vih {
    position: absolute;
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #faf6e7;
    left:25vw;
    font-size: 1.5vw;
        text-align: center;

}
.je {
    position: absolute;
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #faf6e7;
    left:79vw;
    font-size: 1.5vw;
        text-align: center;

}
.jc {
    position: absolute;
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #faf6e7;
    left:61vw;
    font-size: 1.5vw;
        text-align: center;
}
.one {
    user-select: none;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  bottom:0vh;
  position: absolute;
  right: 0vw;
  z-index: -1;
    height: calc(120vh - 60px);
  img {
    width: 50vw; /
    height: auto;
  }
}
.two {
    user-select: none;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  bottom:0vh;
  position: absolute;
  left: 0vw;
  z-index: -1;
    height: calc(120vh - 60px);
  img {
    width: 50vw; /
    height: auto;
  }
}

.description {
    font-family: 'ChakraPetch-Regular', sans-serif;
    color: #ece9e9; /* Neutral text color */
    font-size: 1.5vw; /* Base font size */
    line-height: 1.5; /* Comfortable line spacing */
    margin: 10vw 10vw 10vw 10vw;/* Spacing around the text */
    text-align: center;
    padding: 2px 5px;
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    /* Justifies the text for a clean look */
}

.description:hover {
    color: #fff; /* Change the text color for contrast */
    background-color: #4313ca; /* Add a background color */
    padding: 2vh 2vh; /* Add some padding for better appearance */
    border-radius: 2.5vw; /* Optional: round the edges */
    transition: background-color 0.3s ease, color 0.3s ease; /* Darker green on hover for contrast */
}