/* General body styles */
body {
    background: linear-gradient(120.56deg, rgba(29, 41, 72, 1.00) 0%, rgba(20, 29, 51, 1.00) 24.819809198379517%, rgba(15, 22, 40, 1.00) 38.076335191726685%, rgba(5, 10, 22, 1.00) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
}

.form {
    background: linear-gradient(120.56deg, rgba(29, 41, 72, 1.00) 0%, rgba(20, 29, 51, 1.00) 24.819809198379517%, rgba(15, 22, 40, 1.00) 38.076335191726685%, rgba(5, 10, 22, 1.00) 100%);

}

.CosmicTunes {
    color: #faf6e7;
    font-family: 'ChakraPetch-Regular', sans-serif;
    position: absolute;
    font-size: 2.5rem;
    user-select: none;
    text-decoration: none;
    left: 10px;
    top: 20px;
    z-index: 9999;
}
.CosmicTunes:hover {
    color: #fff; /* Change the text color for contrast */
    background-color: #4313ca; /* Add a background color */
    padding: 3px 5px; /* Add some padding for better appearance */
    border-radius: 25px; /* Optional: round the edges */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-container {
    display: flex;
    justify-content: center; /* Horizontally center the text */
    text-align: center; /* Ensure text is centered within the div */
    margin-bottom: 20px;
}

.forgot {
    user-select: none;
    color: #faf6e7;
    font-family: 'ChakraPetch-Regular', sans-serif;
    font-size: 7rem; /* Adjust font size */
}

.form-user {
    width: 30%;
    margin-bottom: 20px;
    position: absolute;
    left:35%;
    top: 40%;
}

.form-user input {
    font-family: 'ChakraPetch-Regular', sans-serif;
    height: 30px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-security{
    width: 30%;
    margin-bottom: 20px;
    position: absolute;
    left:35%;
    top: 50%;
}

.form-security input {
    font-family: 'ChakraPetch-Regular', sans-serif;
    height: 30px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-pass1 {
    width: 30%;
    margin-bottom: 20px;
    position: absolute;
    left:35%;
    top: 60%;
}

.form-pass1 input {
    font-family: 'ChakraPetch-Regular', sans-serif;
    height: 30px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-pass2 {
    width: 30%;
    margin-bottom: 20px;
    position: absolute;
    left:35%;
    top: 70%;
}

.form-pass2 input {
    font-family: 'ChakraPetch-Regular', sans-serif;
    height: 30px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create{
    font-family: 'ChakraPetch-Regular', sans-serif;
  background-color: #334AA8;
  position: fixed;
  border: none;
  left: 51%;
  bottom: 15%;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  margin: 4px 2px;
  border-radius: 5px;
  z-index: 9999;
}
.create:hover {
    background: #1B285E;
}
.btn-success{
     font-family: 'ChakraPetch-Regular', sans-serif;
  background-color: #334AA8;
  position: absolute;
  border: none;
  left: 43%;
  bottom: 15%;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 32px;
  margin: 4px 2px;
  border-radius: 5px;
}
.btn-success:hover {
    background-color: #1B285E;
}
.one {
    height: 100%;
    width: 100%;
    z-index: -1;
}