.genre-breakdown-2,
.genre-breakdown-2 * {
    box-sizing: border-box;
}

.genre-breakdown-2 {
    background: linear-gradient(120.56deg, rgba(29, 41, 72, 1.00) 0%, rgba(20, 29, 51, 1.00) 24.819809198379517%, rgba(15, 22, 40, 1.00) 38.076335191726685%, rgba(5, 10, 22, 1.00) 100%);
    height: 1422.22px;
    position: relative;
    overflow: hidden;
}

.purple-planet {
    width: 1018.78px;
    height: 1018.78px;
    position: absolute;
    left: -131.61px;
    top: 1407.69px;
    box-shadow: -36.05px 22.68px 155.73px 0px rgba(85, 42, 2, 0.80);
    transform-origin: 0 0;
    transform: rotate(-120deg) scale(1, 1);
    object-fit: cover;
}

.star-animate {
    width: 908.08px;
    height: 654.06px;
    position: absolute;
    right: 1057.29px;
    top: 20.38px;
}

.group-1 {
    position: absolute;
    inset: 0;
}

.star-1 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 1.04px;
    top: 19.42px;
    overflow: visible;
}

.star-2 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 131.04px;
    top: 58.41px;
    overflow: visible;
}

.star-3 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 51.57px;
    top: 103.24px;
    overflow: visible;
}

.star-4 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 63.8px;
    top: 31.92px;
    overflow: visible;
}

.star-5 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 26.44px;
    top: 48.9px;
    overflow: visible;
}

.star-6 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 262.8px;
    top: 91.69px;
    overflow: visible;
}

.star-7 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 143.94px;
    top: 21.05px;
    overflow: visible;
}

.star-8 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 431.92px;
    top: 60.45px;
    overflow: visible;
}

.star-9 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 274.35px;
    top: 171.83px;
    overflow: visible;
}

.star-10 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 143.26px;
    top: 118.18px;
    overflow: visible;
}

.star-11 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 137.83px;
    top: 223.45px;
    overflow: visible;
}

.star-12 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 543.99px;
    top: 213.94px;
    overflow: visible;
}

.star-13 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 675.07px;
    top: 80.14px;
    overflow: visible;
}

.star-14 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 861.85px;
    top: 199.68px;
    overflow: visible;
}

.star-15 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 776.27px;
    top: 412.95px;
    overflow: visible;
}

.star-16 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 863.88px;
    top: 548.78px;
    overflow: visible;
}

.star-17 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 654.01px;
    top: 572.56px;
    overflow: visible;
}

.star-18 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 412.22px;
    top: 546.75px;
    overflow: visible;
}

.star-19 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 531.76px;
    top: 289.33px;
    overflow: visible;
}

.star-20 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 347.02px;
    top: 235.68px;
    overflow: visible;
}

.star-21 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 205.07px;
    top: 492.41px;
    overflow: visible;
}

.star-22 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 40.03px;
    top: 414.98px;
    overflow: visible;
}

.star-23 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 42.07px;
    top: 179.31px;
    overflow: visible;
}

.star-24 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 260.76px;
    top: 201.72px;
    overflow: visible;
}

.star-48 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 645.86px;
    top: 203.76px;
    overflow: visible;
}

.star-49 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 571.83px;
    top: 363.37px;
    overflow: visible;
}

.star-50 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 481.5px;
    top: 446.91px;
    overflow: visible;
}

.star-51 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 356.53px;
    top: 258.09px;
    overflow: visible;
}

.star-52 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 503.91px;
    top: 135.16px;
    overflow: visible;
}

.star-25 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 65.84px;
    top: 484.94px;
    overflow: visible;
}

.star-26 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 49.54px;
    top: 279.83px;
    overflow: visible;
}

.star-27 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 423.77px;
    top: 272.35px;
    overflow: visible;
}

.star-28 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 573.87px;
    top: 561.01px;
    overflow: visible;
}

.star-29 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 317.14px;
    top: 620.78px;
    overflow: visible;
}

.star-30 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 315.1px;
    top: 370.16px;
    overflow: visible;
}

.star-31 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 842.15px;
    top: 62.49px;
    overflow: visible;
}

.star-32 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 899.88px;
    top: 33.96px;
    overflow: visible;
}

.star-33 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 907.35px;
    top: 570.52px;
    overflow: visible;
}

.star-34 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 767.44px;
    top: 652.7px;
    overflow: visible;
}

.star-35 {
    width: 1.36px;
    height: 1.36px;
    position: absolute;
    left: 675.75px;
    top: 359.97px;
    overflow: visible;
}

.star-36 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 387.09px;
    top: 416.34px;
    overflow: visible;
}

.star-37 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 219.01px;
    top: 300.88px;
    overflow: visible;
}

.star-38 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 625.17px;
    top: 105.27px;
    overflow: visible;
}

.star-39 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 466.92px;
    top: 19.7px;
    overflow: visible;
}

.star-40 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 318.85px;
    top: 21.73px;
    overflow: visible;
}

.star-41 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 745.38px;
    top: 0px;
    overflow: visible;
}

.star-42 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 608.19px;
    top: 418.38px;
    overflow: visible;
}

.star-43 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 134.11px;
    top: 402.08px;
    overflow: visible;
}

.star-44 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 111.7px;
    top: 616.7px;
    overflow: visible;
}

.star-45 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 36.99px;
    top: 362.01px;
    overflow: visible;
}

.star-46 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 29.52px;
    top: 574.59px;
    overflow: visible;
}

.star-47 {
    width: 2.72px;
    height: 2.72px;
    position: absolute;
    left: 3.71px;
    top: 203.76px;
    overflow: visible;
}

.cosmic-tunes {
    color: #faf6e7;
    text-align: left;
    font-family: 'ChakraPetch-Regular', sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    right: 57.12%;
    left: -1.28%;
    width: 44.16%;
    bottom: 86.76%;
    top: 0.55%;
    height: 12.69%;
}

.group-2 {
    height: auto;
    position: absolute;
    left: 377.18px;
    top: -207.1px;
    transform: translate(-411.82px, 186.73px);
    ;
    overflow: visible;
}

.rectangle-4 {
    background: linear-gradient(90.64deg, rgba(255, 184, 0, 0.35) 0%, rgba(255, 138, 0, 0.35) 100%);
    width: 577.31px;
    height: 119.54px;
    position: absolute;
    left: -260.58px;
    top: 235.68px;
    filter: blur(186.78px);
}

.smooth-light {
    background: linear-gradient(131.24deg, rgba(28, 36, 105, 1.00) 0%, rgba(28, 36, 105, 0.00) 53.5769522190094%, rgba(28, 36, 105, 0.00) 100%);
    border-radius: 50%;
    width: 261.49px;
    height: 263.53px;
    position: absolute;
    left: 1013.35px;
    top: 738.96px;
    transform-origin: 0 0;
    transform: rotate(180deg) scale(1, 1);
    filter: blur(373.55px);
}

.component-1 {
    width: 95.69px;
    height: 95.69px;
    position: absolute;
    left: 1736.11px;
    top: 575px;
}

.rectangle-3 {
    background: linear-gradient(180.1deg, rgba(18, 18, 23, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%);
    border-radius: 76.39px;
    width: 2px;
    height: 133.33px;
    position: absolute;
    left: 94.28px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(45deg) scale(1, 1);
}

.rectangle-42 {
    background: linear-gradient(90.64deg, rgba(255, 153, 0, 0.30) 0%, rgba(255, 203, 18, 0.30) 92.1875%, rgba(146, 27, 188, 0.30) 100%);
    width: 665.53px;
    height: 127.32px;
    position: absolute;
    left: 1660.58px;
    top: 305.62px;
    filter: blur(162.76px);
}

.rectangle-5 {
    background: linear-gradient(90.64deg, rgba(160, 82, 9, 0.60) 0%, rgba(142, 116, 22, 0.60) 100%);
    width: 665.53px;
    height: 127.32px;
    position: absolute;
    left: 666.63px;
    top: 1247.49px;
    filter: blur(162.76px);
}

.moving-star {
    width: 95.69px;
    height: 95.69px;
    position: absolute;
    left: 1613.75px;
    top: 826.25px;
    transform-origin: 0 0;
    transform: rotate(-180deg) scale(1, 1);
    overflow: hidden;
}

.rectangle-32 {
    background: linear-gradient(179.97deg, rgba(18, 18, 23, 1.00) 0%, rgba(255, 255, 255, 1.00) 100%);
    border-radius: 76.39px;
    width: 2px;
    height: 133.33px;
    position: absolute;
    left: -5.72px;
    top: 100px;
    transform-origin: 0 0;
    transform: rotate(45deg) scale(1, 1);
}

.moving-star2 {
    width: 95.69px;
    height: 95.69px;
    position: absolute;
    left: 531.8px;
    top: 802.78px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
    overflow: hidden;
}

.genre-nebulas {
    color: #faf6e7;
    text-align: center;
    font-family: 'ChakraPetch-Regular', sans-serif;
    font-size: 128px;
    font-weight: 400;
    position: absolute;
    left: 851px;
    top: 107px;
}