body {
    background: linear-gradient(120.56deg, rgba(29, 41, 72, 1.00) 0%, rgba(20, 29, 51, 1.00) 24.819809198379517%, rgba(15, 22, 40, 1.00) 38.076335191726685%, rgba(5, 10, 22, 1.00) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
}
.create {
     color: #faf6e7;
    position: absolute;
    font-family: 'ChakraPetch-Regular', sans-serif;
    font-size: 180px;
    left: 15%;
    top: 10%;
    width: 100%;
}
.u {
    width: 31%;
    margin-bottom: 20px;
    position: absolute;
    left:35%;
    top: 40%;
}

.u input {
    font-family: 'ChakraPetch-Regular', sans-serif;
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.p1 {
    width: 31%;
    margin-bottom: 20px;
    position: absolute;
    left:35%;
    top: 50%;
}

.p1 input {
    font-family: 'ChakraPetch-Regular', sans-serif;
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.p2 {
    width: 31%;
    margin-bottom: 20px;
    position: absolute;
    left:35%;
    top: 60%;
}

.p2 input {
    font-family: 'ChakraPetch-Regular', sans-serif;
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 7px;
}
