body {
    background: linear-gradient(120.56deg, rgba(29, 41, 72, 1.00) 0%, rgba(20, 29, 51, 1.00) 24.819809198379517%, rgba(15, 22, 40, 1.00) 38.076335191726685%, rgba(5, 10, 22, 1.00) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.hamburger-menu {
  font-family: 'ChakraPetch-Regular', sans-serif;
  position: relative;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  margin: 20px;
}

.hamburger .line {
  background-color: #FFFFFF;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  transition: 0.3s ease;
}

.menu {
  display: none;
  position: absolute;
  border-radius: 3%;
  top: 60px;
  left: 0;
  width: 15%;
  background-color: #ffffffcc;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 5%;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;

}

.menu li a {
  font-size: 230%;
    font-family: 'ChakraPetch-Regular', sans-serif;

  text-decoration: none;
  color: black;
  display: block;
}

.menu li:hover {
    border-radius: 5%;
  color: #FFFFFF;
  background-color: #334AA8;
}
.menu li a:hover {
      color: white;
}

