{% extends 'mainTemplates/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    <body>
    <div class="form-container">
        <h1>Create Account</h1>
        <form method="POST" id="register-form" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }} <!-- Display form errors -->

            <!-- Add placeholder for username -->
            {{ form.username }}

            <!-- Add placeholder for password -->
            {{ form.password1 }}

            <!-- Add placeholder for confirm password -->
            {{ form.password2 }}
        </form>
    </div>
    </body>
{% endblock %}